
<!-- Flash -->
<% if flash.alert %>
  <div class="alert alert-danger mt-4">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="alert alert-primary mt-4">
    <%= flash.notice %>
  </div>
<% end %>